<!DOCTYPE html>
<html>
    <head>
      {% load static %}
      {% load humanize %}
      <meta charset="utf-8" />
      <link rel="icon" href="{% static 'clientapp/img/favicon.ico' %}">
      <title>ToxicSense</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css">
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <style>
        .bd-tw {
          background-color: #fafafa;
          border-radius: 6px;
          color: #697882;
          flex-shrink: 0;
          font-family: Helvetica,Roboto,"Segoe UI",Calibri,sans-serif;
          font-size: 16px;
          padding: 20px;
          margin-bottom: 8px;
        }
        .search-area {
          background-color: #fafafa;
        }
        .user-safe {
          color: green;
        }
        .user-unsafe {
          color: red;
        }
        #chartContainer {
          width: 310px;
          height: 200px;
          margin-top: 16px;
        }
        td {
          padding: 5px;
        }
        .trend-row {
          height: 30px;
        }
        .trend-filler {
          width: 0px;
          height: 30px;
          background: #00d1b2;
        }
        .top-item-filler {
          width: 0px;
          height: 15px;
          background: #bdbdbd;
        }
        .top-item-row td {
          padding: 1px !important;
          padding-right: 8px !important;
          vertical-align: middle !important;
        }
      </style>
      <script>
        function analyzeTopTrend(topic, i) {
          $.get('/summary_api', {topic:topic, limit: 50}).done(function(response) {
            let toxicity = Math.round(parseFloat(response['toxicity_percentage']));
            let fillId = '#trend-fill-' + i;
            let toxicPercentageId = '#trend' + i; 
            showToxicityBar(toxicity, fillId, toxicPercentageId);
          });
        }

        function showToxicityBar(toxicity, fillId, toxicPercentageId) {
          let widthVal = ((toxicity + 1) * 1.6) + "px";
          $(fillId).css("width", widthVal);
          $(toxicPercentageId).html(toxicity + '%');
          $(toxicPercentageId).css('font-weight', 700);
          $(toxicPercentageId).css('color', function() {
            if (toxicity <= 10){
                return 'green';
            } else {
                return 'red';
            }
          });
        }
      </script>
    </head>
    <body>
        <section class="hero is-primary">
          <div class="hero-body">
            <div class="container">
              <h1 class="title">
                <a href="/">ToxicSense</a>
              </h1>
              <h2 class="subtitle">
                A tool to analyze toxicity of a user, a topic or a conversation.
                <span style="font-size: 15px">
                    Try our <a target="_blank" href="https://chrome.google.com/webstore/detail/toxicsense/nfcggdampbbiejnnnfflnpppknbdhlla" style="text-decoration: underline">chrome extension</a>.
                </span>
              </h2>
            </div>
          </div>
        </section>
        <section class="section search-area">
          <div class="columns">
            <div class="column" style="border-right: 1px solid #ddd">
              <form method="GET">
                <div class="control field">
                  <input name="topic" class="input" type="text" placeholder="#metoo, President, etc.">
                </div>
                <div class="control field">
                  <button class="button is-primary">Analyze Topic</button>
                </div>
              </form>
            </div>
            <div class="column" style="border-right: 1px solid #ddd">
              <form method="GET">
                <div class="control field">
                  <input name="user" class="input" type="text" placeholder="realDonaldTrump">
                </div>
                <div class="control field">
                  <button class="button is-primary">Analyze User</button>
                </div>
              </form>
            </div>
            <div class="column">
              <form method="GET">
                <div class="control field">
                  <input name="tweet_url" class="input" type="text" placeholder="https://twitter.com/healthifyme/status/1016639974920163328">
                </div>
                <div class="control field">
                  <button class="button is-primary">Analyze Conversation</button>
                </div>
              </form>
            </div>
          </div>
        </section>
        {% if result %}
        <section class="hero is-light">
          <div class="hero-body" style="padding: 1.5rem 1.5rem;">
            <div class="container">
              <p class="title">
                 {{ about }}
              </p>
            </div>
          </div>
        </section>
        <section class="section">
          <div class="columns">
            <div class="column is-4">
              <h2 class="title is-4 {% if toxicity_percentage <= 10 %}user-safe{% else %}user-unsafe{% endif %}">
                Toxicity: {{ toxicity_percentage|floatformat:"0" }}%
              </h2>
              {% if toxicity_percentage == 0 %}
              Awesome! None of the tweets are toxic.<br/><br/>
              {% endif %}
              <strong>Toxic Tweets:</strong>
              {{ toxicity_percentage|floatformat:"0" }}% ({{ toxic_tweet_count }}/{{ total_tweets }}) {% if analysis_type != 1 %}
              <br/>
              <strong>Toxic Users:</strong>
              {{ user_toxicity_percentage|floatformat:"0" }}% ({{ toxic_user_count }}/{{ total_users }}) {% endif %}
              <div id="chartContainer"></div>
              <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
            </div>
            <div class="column">
              <h1 class="title is-4">Toxicity over time</h2>
              <div id="ToxicityGraph"></div>
            </div>
          </div>
        </section>
        {% if toxic_tweets %}
        <section class="section">
          <div class="columns">
            <div class="column is-8">
              <div class="tile is-parent">
                <section class="is-child box" style="max-height: 1000px; overflow: scroll; width: 100%;">
                  <h1 class="title">Toxic tweets:</h1>
                  <h2 class="subtitle">
                    Shows <strong>toxic</strong> tweets for this search term.
                  </h2>
                  {% for tweet in toxic_tweets %}
                  <article class="bd-tw bd-is-grey bd-has-drawing">
                    <header class="bd-tw-header">
                      <a class="bd-tw-author" target="_blank" href="/?user={{ tweet.user }}">
                        <div class="bd-tw-name">
                            <span class="bd-tw-username">@{{ tweet.user }} ({{ tweet.toxicity }})</span>
                        </div>
                      </a>
                    </header>
                    <div class="bd-tw-content">
                      {{ tweet.text }}
                    </div>
                    <p class="bd-tw-date">
                      {{ tweet.timestamp }}
                    </p>
                  </article>
                  {% endfor %}
                </section>
              </div>
            </div>
            <div class="column">
              {% if top_hashtags %}
              <div class="tile is-parent">
                <article class="tile is-child box">
                    <!-- Put any content you want -->
                  <h1 class="title">Top toxic hashtags:</h3>
                  <table>
                  {% for k, v in top_hashtags.items %}
                  <tr class="top-item-row">
                    <td>
                      <a target="_blank" href="/?topic=%23{{k}}">#{{ k }}</a>
                    </td>
                    <td style="width: 100px; padding-left: 5px !important;">
                      <div class="top-item-filler" style="width: {{ v }}px;"></div>
                    </td>
                  </tr>
                  {% endfor %}
                  </table>
                </article>
              </div>
              {% endif %}
              {% if top_users %}
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <h1 class="title">Top Toxic Users:</h3>
                  <table>
                  {% for k, v in top_users.items %}
                  <tr class="top-item-row">
                    <td>
                      <a target="_blank" href="/?user={{k}}">@{{ k }}</a>
                    </td>
                    <td style="width: 100px; padding-left: 5px !important;">
                      <div class="top-item-filler" style="width: {{ v }}px;"></div>
                    </td>
                  </tr>
                  {% endfor %}
                  </table>
                </article>
              </div>
              {% endif %}
              {% if top_mentioned_users %}
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <h1 class="title">User mentions in toxic tweets:</h3>
                  <table>
                  {% for k, v in top_mentioned_users.items %}
                  <tr class="top-item-row">
                    <td>
                      <a target="_blank" href="/?user={{k}}">@{{ k }}</a>
                    </td>
                    <td style="width: 100px; padding-left: 5px !important;">
                      <div class="top-item-filler" style="width: {{ v }}px;"></div>
                    </td>
                  </tr>
                  {% endfor %}
                  </table>
                </article>
              </div>
              {% endif %}
            </div>
          </div>
        </section>
        {% endif %}
        <section class="dag-container">
          <div id="dag-load-informer" class="hero-body">
            <div class="container">
              <h2 class="subtitle">
                Loading graph... Please Wait...
              </h2>
            </div>
          </div>
          <div id="GraphHolder" width="100%" style="display: none;">
            <section class="section" style="padding-top: 0px;">
              <h1 class="title">Connections</h1>
              <h1 class="subtitle">Explore connections between toxic users, topics and mentions</h1>
            </section>
            <div id="GraphContainer" width="100%"></div>
            <section class="section">
              <div class="columns">
                <div class="column">
                  <strong>Graph Representation:</strong>
                  <br/> Nodes:
                  <br/> Nodes are either users or topics.
                  <br/> Nodes that start with `m: ` refers to a user who was mentioned in a tweet.
                  <br/> Nodes that start with `s: ` refers to a user who created a tweet.
                  <br/>
                  <br/> Links:
                  <br/> Links represents a tweet.
                  <br/> Blue links connect a tweet creator and a topic.
                  <br/> Green links connect a mentioned user with a topic they were mentioned with.
                  <br/> Red links connect a tweet creator with users they have mentioned.
                  <br/>
                </div>
                <div class="column">
                  <strong>How to use the graph?</strong>
                  <br/> 1. Click a node a move to better arrange them spatially.
                  <br/> 2. Hover over a node or a link to know the user/topic and the tweet.
                  <br/> 3. Double click on any node to fix the position of the node.
                </div>
              </div>
            </section>
          </div>
        </section>
        {% elif homeresult %}
        <section class="section">
          <div class="columns">
            <div class="column">
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <h1 class="title">Top Trends:</h3>
                  <table>
                    {% for trend in homeresult.top_trends %}
                    <tr class="trend-row">
                      <td><a target="_blank" href="/?topic={{trend.name|urlencode}}">{{ trend.name }}</a></td>
                      <td>
                        <span id="trend{{ forloop.counter0 }}"></span>
                      </td>
                      <td style="width: 100px">
                        <div class="trend-filler" id="trend-fill-{{ forloop.counter0 }}"></div>
                      </td>
                      <!-- <br/> -->
                      <script>
                        $(document).ready(function() {
                          analyzeTopTrend('{{ trend.name|urlencode }}', {{ forloop.counter0 }});
                        });
                      </script>
                    </tr>
                    {% endfor %}
                  </table>
                </article>
              </div>
            </div>
            <div class="column">
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <h1 class="title">Top Searches:</h3>
                  <table>
                    {% for topic, avg_toxicity in homeresult.top_searches.items %}
                    <tr class="trend-row">
                      <td><a target="_blank" href="/?topic={{topic|urlencode}}">{{ topic }}</a></td>
                      <td>
                        <span id="search{{ forloop.counter0 }}"></span>
                      </td>
                      <td style="width: 100px">
                        <div class="trend-filler" id="search-fill-{{ forloop.counter0 }}"></div>
                      </td>
                      <script>
                          $(document).ready(function() {
                            let i = {{ forloop.counter0 }};
                            let fillId = '#search-fill-' + i;
                            let toxicPercentageId = '#search' + i; 
                            showToxicityBar({{ avg_toxicity }}, fillId, toxicPercentageId);
                          });
                        </script>
                    </tr>
                    {% endfor %}
                  </table>
                </article>
              </div>
            </div>
          </div>
        </section>
        {% else %}
        <section class="section">
          Analyze tweets and stay safe online!
        </section>
        {% endif %}
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
        <script type="text/javascript" src="{% static 'clientapp/js/common_visualizations.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
        <link rel="stylesheet" href="{% static 'clientapp/css/graph.css' %}">
        <link rel="stylesheet" href="{% static 'clientapp/css/visualizations.css' %}">
        <script type="text/javascript" src="{% static 'clientapp/js/graph.js' %}"></script>
        <script>
          {% if result %}
          var drawGraphUsingApi = function() {
            let getGraphUrl = "{% url "get_graph" %}" + window.location.search;
            d3.json(getGraphUrl, function (data) {
              drawGraphUsingDataPoints(data);
            });
          }

          var drawGraphUsingDataPoints = function(data) {
            if (data.length > 2) {
              $("#GraphHolder").show();
              drawGraph(data, "#GraphContainer");
              $("#dag-load-informer").hide();
            } else {
              $("#dag-load-informer").html("Not enough data to plot graph.")  
            }
          }

          let results = {{ result | safe }};
          let graphDataPoints = {{ graph_data_points | safe }};
          if (results.length > 0) {
            visualizeToxicityVsTime(results, "#ToxicityGraph");
            drawGraphUsingDataPoints(graphDataPoints);
            window.onload = function () {
              var chart = new CanvasJS.Chart("chartContainer", {
                data: [{
                  type: "pie",
                  yValueFormatString: "##0.00\"%\"",
                  indexLabel: "{label} {y}",
                  dataPoints: [
                    { y: {{ non_toxicity_percentage }}, label: "Non-Toxic" },
                    { y: {{ toxicity_percentage }}, label: "Toxic"},
                  ]
                }]
              });
              chart.render();
            }
          }
          {% endif %}
        </script>
    </body>
</html>
