.toxicsense img {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
}

.toxicsense a:hover {
    text-decoration: none;
}

.score {
    margin-left: 5px;
    color: green;
}

.toxic {
    color: red;
}